.page-nav {
  display: flex;
  position: relative;
  width: 100%;
}

.link-outer-container {
  display: flex;
  width: 58.75%;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgb(85, 85, 85);
  border: 2px solid cyan;
}

.link-inner-container {
  display: flex;
  width: fit-content;
  background-color: rgb(85, 85, 85);
  border: 2px solid red;
}

.nav-li {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}